.header {
    background-color: black;
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    .navigation {
        display: flex;
        a {
            margin: 5px;
            color: white;
        }
        .nav-container {
            display: flex;
        }
    }
}
