.home {
    width: 100%;
    // min-height: 100vh;
    background-color: wheat;
}

.frame-container {
    .frame {
        color: #eee;
        background-color: #f08bc3;
        margin: 5px;
        height: 100vh;
    }
}
